<p><%= facade.count %> for <%= facade.search_name %></p>

<% facade.foods.each do |food| %>
  <ul class="foods">
    <li class="ndbnumber"><%= food.ndbnumber %></li>
    <li class="name"><%= food.name %></li>
    <li class="food-group"><%= food.food_group %></li>
    <li class="data-source"><%= food.data_source %></li>
    <li class="manufacturer"><%= food.manufacturer %></li>
  </ul>
<% end %>
